 #menu{
	width: 200px;
	margin-top: 50px;
}

#menu ul{
	list-style: none;
}

#menu ul li{
	margin-top: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	background-color: #639bb3;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	box-shadow: 5px 0px 10px #939393;
	-webkit-transition: padding-left 0.6s;
	border-radius: 0px 20px 20px 0px;
}

#menu ul li:hover{
	padding-left: 50px;
	background: white;
}

a{
	text-decoration: none;
	color: black;
}

html {
	font-size: 14px;
    font-family: 'Lato', sans-serif;
}

label{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	margin: 12px 0px 12px 0px;
	color: #F39B53;
}

body {
	background: url("../img/uber.jpg");
}

.container {
	max-width: 550px;
	height: auto;
	background-color: #EFEFEF;
	margin: 3% auto;
	padding-bottom: 1rem;
	
}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem rgb(25, 193, 223);
	margin-bottom: 1rem;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

h2 span {
	color: #F39B53;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: space-around;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset,select{
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #F39B53 .2rem;
}

.btn__submit, .btn__reset {
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
}

.btn__reset {
	background-color: #EDA135;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #FA9535;
}